ul.article-list {
  padding: 0px;
  
  .article-list-item {
    position: relative;
    list-style-type: none;

    &:active, &:hover, &:focus {
      list-style-type: none;
    }

    .action-links {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;

      a {
        margin-left: 5px;
      }
    }
  }
}
